* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  /*padding: 0;*/

  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}
header {
  width: 100%;
  height: 1000px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgb(4, 1, 48);
}
.rightnav {
  float: right;
  height: 100%;
}
.rightnav a {
  height: 100%;
  display: table;
  float: right;
  padding: 0px 10px;
  vertical-align: middle;
}
.rightnav a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #b9dfea;
  font-family: cursive;
}
.innerheader {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.logo_contener {
  display: table;
  height: 100%;
  float: left;
}
.logo_contener h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: cornsilk;
  font-family: monospace;
  font-size: xx-large;
}
.logo_contener h1 span {
  color: rgb(153 208 228);
  font-size: -webkit-xxx-large;
  font-family: system-ui;
}

.background_img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.row {
  width: 100%;
}
section {
  margin-top: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
}
.span-container {
  position: relative;
  right: -65%;
  top: 0;
  width: 35%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

p {
  padding: 20px;
}

/* Large Devices Only */
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Medium Devices Only */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Small Devices Only */
@media (max-width: 767px) {
  .col-sm-0,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-0 {
    display: none;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
